:root {
    --jomigu-color-1: #f6c;
    --jomigu-color-2: #0cc;
}

@font-face {
    font-family: SourceCodePro, monospace;
    src: url(~assets/fonts/SourceCodePro-Italic.ttf);
}

@font-face {
    font-family: 'Happy Monkey', monospace;
    src: url(~assets/fonts/HappyMonkey-Regular.ttf);
}

header {
    margin: 0;
}

.bg-jomigu {
    background: var(--jomigu-color-1);
}

.bg-jomigu-2 {
    background: var(--jomigu-color-2);
}

.banner, .banner-stretched {
    width: 100%;
}

.banner-stretched {
    height: 100%;
}

.title {
    font-family: 'Happy Monkey', monospace;
}

.greetings {
    font-family: SourceCodePro, monospace;
    color: var(--jomigu-color-1);
}

.shops, .sites {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

ul.shops > li, ul.sites > li {
    display: inline-block;
    padding: 10px 10px 0;
}

ul.shops > li > span,
ul.sites > li > span {
    font-weight: bold;
}

ul.shops > li > p > a,
ul.sites > li > p > a {
    color: #000;
}
